$color-primary: #f92672;
$color-secondary: #fd971f;
$color-tertiary: #e69f66;
$color-black: #000000;
$color-white: #ffffff;
$color-white-off: #ffffe4;
$color-gray: #666666;
$color-gray-dark: #333333;
$color-gray-light: #cccccc;

$nav-width: 4rem;
$header-height: 4rem;